header {
    @include divShow($isDebug);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat;
    background-color: $header-background-color;
    flex-basis: auto;
    //width: 100%; ???
    position: sticky;
    top: 0px;

    .logo {
        height: $logo-height;
        padding-left: 100px;
        //padding нужен для смещения лого вниз
        padding-top: $logo-height - 10px;
        font-size: $logo-height + 10px;
        //обнулила междустрочный интервал, чтобы убрать зазор над буквами
        line-height: 0px;
        font-weight: 500;
    }

    nav {
        padding-right: 100px;

        img {
            height: $logo-height;
            margin-right: 20px;
        }
    }
}