header {
    @include divShow($isDebug);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat;
    background-color: $header-background-color;
  //  padding-left: 100px;
  //  padding-right: 100px;
    flex-basis: auto;
   // top: 200px;
   // left: 300px;
   // width: 100%;
    position: sticky;
  // position: fixed;
   //height: 80px;
    top: 0px;
    
    .logo {
        height: $logo-height;
        //padding нужен для смещения лого вниз
        padding-top: $logo-height - 10px;
        font-size: $logo-height + 10px;
        //обнулила междустрочный интервал, чтобы убрать зазор над буквами
        line-height: 0px;
        font-weight: 500;
    }

    nav {
        img {
            height: $logo-height;
            margin-right: 20px;
        }
    }
}