@import './settings';
@import './header';
@import './main';
@import './footer';
@import './list-games';


body {
  margin: 0px auto;
}

.app {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 80px auto 80px;
}

