@charset "UTF-8";
@font-face {
  font-family: 'MBold';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'MLight';
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'MReg';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'MMedi';
  src: url(../fonts/Montserrat-Medium.ttf);
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: montserrat;
  background-color: #17c826;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

header .logo {
  height: 30px;
  padding-left: 100px;
  padding-top: 20px;
  font-size: 40px;
  line-height: 0px;
  font-weight: 500;
}

header nav {
  padding-right: 100px;
}

header nav img {
  height: 30px;
  margin-right: 20px;
}

.intro {
  margin: 0 auto;
}

.intro .carousel {
  min-height: 700px;
  width: 100%;
  background-color: gold;
}

.intro .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17vh;
}

.intro .button-area button {
  border: none;
  border-radius: 40px;
  background-color: hotpink;
  font-size: 30px;
  color: white;
  width: 310px;
  height: 75px;
  font-family: 'MMedi';
}

.mazes {
  margin: 0 auto;
  height: 100vh;
}

.mazes .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 17vh;
  font-family: 'MReg';
  font-size: 20px;
}

.mazes .all-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.mazes .all-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 500px;
  width: 300px;
  border: 10px;
  border-radius: 10px;
  background-color: mediumpurple;
}

.mazes .all-cards .card img {
  height: 300px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mazes .all-cards .card .info {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.mazes .all-cards .card .info h3 {
  font-family: 'MMedi';
}

.mazes .all-cards .card .info p {
  font-family: 'MReg';
}

.mazes .all-cards .card .info a {
  font-family: 'MMedi';
  font-size: 15px;
  color: white;
}

.all-skills .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 12vh;
  font-family: 'MReg';
  font-size: 20px;
}

.all-skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  padding-bottom: 50px;
}

.all-skills .skills .monster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all-skills .skills .monster img {
  width: 300px;
  height: 300px;
}

.all-skills .skills h3 {
  font-family: 'MMedi';
  font-size: 24px;
}

.all-skills .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20vh;
}

.all-skills .button-area button {
  border: none;
  border-radius: 40px;
  background-color: hotpink;
  font-size: 30px;
  color: white;
  width: 310px;
  height: 75px;
  font-family: 'MMedi';
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: montserrat;
  background-color: #eeff00;
  padding-left: 100px;
  padding-right: 100px;
}

footer nav img {
  height: 30px;
  margin-right: 20px;
}

.games {
  grid-area: games;
  background-color: coral;
}

.type {
  grid-area: type;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 500px;
  background-color: cornflowerblue;
}

body {
  margin: 0px auto;
}

.app {
  width: 100%;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'main' 'footer';
  -ms-grid-rows: 80px 1fr 80px;
      grid-template-rows: 80px 1fr 80px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
      grid-template-areas: "A A A A   A A A A   A A A A" "B B B B   B B B B   B B C C" "B B B B   B B B B   B B C C";
}

.wrapper [class^="box-"] {
  background-color: skyblue;
  /* Размещаем контейнеры по центру */
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.wrapper .type-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: A;
}

.wrapper .type-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-area: B;
}

.wrapper .type-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: C;
}
/*# sourceMappingURL=index.css.map */